<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.4.0" targetFramework="net452" />
  <package id="NBug" version="1.2.2" targetFramework="net452" />
  <package id="Orc.CrashReporting" version="1.1.0" targetFramework="net452" />
  <package id="Orc.SupportPackage" version="1.2.0" targetFramework="net452" />
  <package id="Orc.SystemInfo" version="1.1.0" targetFramework="net452" />
  <package id="xZune.Vlc" version="16.03.31" targetFramework="net452" developmentDependency="true" />
  <package id="xZune.Vlc.Wpf" version="16.04.04" targetFramework="net452" developmentDependency="true" />
</packages>